{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

{{if 'message' in globals():}}

<h1>Welcome to High5Shops</h1>
<ol>
  <li><h4>{{=T('This is a Online Shop Management Portal')}}</h4></li>
    <li><h4>{{=T('Employes can register themselves')}}</h4></li>
    <li><h4>{{=T('Each employee have their own limits to access and modify details')}}</h4></li>
</ol>
<div class="copyright pull-right"><img src="/Online_Shop_Management/static/images/help.jpg" alt="Burden Help" align="right"></div>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
{{end}}
